<div id="commits">
	<table id="commits_table">
		<thead>
			<tr>
				<th style="width: 0">ID</th>
				<th style="max-width: 65px">Revision</th>
				<th>Comment</th>
				<th style="width: 220px">User</th>
				<th style="width: 180px">Date</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="4" class="dataTables_empty">Loading data from server</td>
			</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	$(function() {
		$('#commits_table').dataTable({
			bPaginate: false,
			bInfo: false,
			bLengthChange: false,
			bFilter: false,
			bProcessing: true,
			bServerSide: true,
			sAjaxSource: "{% url infos.views.commits repository.id %}",
			fnServerData: dataTablesPipeline,
			aoColumns: [
				{ bVisible: false },
				null,
				{ asSorting: [  ] },
				null,
				null
			]
		});

		jQuery.fn.dataTableExt.oSort['html-undefined']  = function(a,b) {
			return false;
		};
		$('.sorting_disabled').unbind('click');
		$('.sorting_disabled').css("cursor", "default");

		$("body").on("click", "tr", function() {
			$(this).closest("table").find("tr.row_selected").removeClass("row_selected");
			$(this).addClass("row_selected");

			var pos = $("#commits_table").dataTable().fnGetPosition(this);
			var data = $("#commits_table").dataTable().fnGetData(pos);

			$("body").trigger("commit_selected", [ { id: data[0] } ]);
		});
	});
</script>
