<div class="button refresh" title="Aggiorna"></div>

<% if(this.search === true) { %>
<div class="search">
	<input id="searchField" type="text" placeholder="Testo da cercare" disabled="disabled" />
	<input id="searchButton" type="button" value="Cerca" disabled="disabled" />
</div>
<% } %>
