{% extends "base.html" %}

{% block extra_styles %}
	<link type="text/css" href="{{ STATIC_URL }}jquery.dataTables.css" rel="stylesheet" />
	<link type="text/css" href="/pygments.css" rel="stylesheet" />
	<link type="text/css" href="/svn_diff.css" rel="stylesheet" />
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{{ STATIC_URL }}pages/repo/show.js"></script>
{% endblock %}

{% block extra_body_scripts %}
	<script type='text/javascript' src='/steal/steal.js?subinfos'></script>
{% endblock %}

{% block content %}
	<div id="header" class="row">
		<div id="menu"></div>
	</div>
	<div class="left col">
		<div id="left_toolbar" class="toolbar row"></div>
		<div id="repo_list" class="body row scroll-y"></div>
	</div>
	<div class="right col">
		<div id="right_toolbar" class="toolbar row"></div>
		<div class="body row">
			<div id="commit_list" class="upper row"></div>
			<div id="commit_detail" class="lower row"></div>
		</div>
	</div>
	<div class="footer row">
		SubInfos
	</div>

	<script type="text/javascript">
// 			$(function() {
// 				//$("#repo_list").load("/repo/list");
// 				$("body").on("repo_selected", function(ev, repo) {
// 					//console.debug(repo);
// 					$("#repo_detail").load("/repo/" + repo.id);
// 				});
// 				$("body").on("commit_selected", function(ev, commit) {
// 					//console.debug(commit);
// 					$("#commit_diff").html(""); //TODO: loading...
// 					$("#commit_diff").load("/commit/" + commit.id + "/diff");
// 				});
// 				$(".dialog .closebutton").click(function() {
// 					$(this).closest(".dialogcontainer").hide();
// 				});
// 			});
	</script>

	<div class="dialogcontainer modal">
		<div id="about" class="dialog">
			<div class="titlebar">
				About...
				<div class="closebutton"></div>
			</div>
			<div class="content">
				<h1 class="vertical_centered"><img src="{{ STATIC_URL }}/imgs/logo2_48.png" /> <span>SubInfos</span></h1>
				<p>SubInfos: a software utility for SVN repositories.</p>
				<br /><br />
				<p>Developed by Paolo Cortis under GPLv2 Licence.</p>
			</div>
		</div>
	</div>
{% endblock %}
