<html>
	<head>
		<title>SubInfos</title>

		<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}style.less" />
		<!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />-->
		<link type="text/css" href="{{ STATIC_URL }}jquery.dataTables.css" rel="stylesheet" />

		<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}pages/repo/show.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}less-1.3.3.min.js"></script>
	</head>
	<body>
		<div id="header" class="row">
			<div id="menu">
				<div class="item">
					<span class="title">File</span>
					<div class="submenu">
						<div class="item">Apri</div>
						<div class="separator"></div>
						<div class="item">Modifica</div>
					</div>
				</div>
				<div class="item">
					<span class="title">Modifica</span>
					<div class="submenu">
						<div class="item">Apri</div>
						<div class="item">Modifica</div>
					</div>
				</div>
				<div class="item">
					<span class="title">?</span>
					<div class="submenu">
						<div id="menu_about" class="item">About...</div>
					</div>
				</div>
			</div>
		</div>
		<div class="left col">
			<div class="toolbar row">
				<div class="button add disabled" title="Add"></div>
				<div class="button delete" title="Delete"></div>
				<div class="button edit" title="Edit"></div>
				<div class="button refresh" title="Refresh"></div>
			</div>
			<div id="repo_list" class="body row scroll-y"></div>
		</div>
		<div class="right col">
			<div class="toolbar row">
				<div class="button add"></div>
				<div class="button delete"></div>
				<div class="button edit"></div>
				<div class="button refresh"></div>
				<div class="search">
					<input type="text" placeholder="Testo da cercare" /><input type="button" value="Cerca" />
				</div>
			</div>
			<div class="body row">
				<div id="repo_detail" class="upper row scroll-y">
					<div id="no_repo_selected">Seleziona un repository dalla lista</div>
				</div>
				<div class="lower row">
					<div id="commit_info" class="row">
						<div id="author">
							<span class="label">Autore:</span> Pippo
						</div>
						<div id="revision">
							<span class="label">Revisione:</span> 1234
						</div>
						<div id="date">
							<span class="label">Data:</span> 13/03/2013 22:05:00
						</div>
						<div id="comment">
							<span class="label">Commento:</span> [SVN-CORE] [Project] #1234 Bla bla
						</div>
					</div>
					<div id="commit_diff" class="row scroll-y"></div>
				</div>
			</div>
		</div>
		<div class="footer row">
			SubInfos
		</div>

		<script type="text/javascript">
			$(function() {
				$("#repo_list").load("/repo/list");
				$("body").on("repo_selected", function(ev, repo) {
					//console.debug(repo);
					$("#repo_detail").load("/repo/" + repo.id);
				});
				$("body").on("commit_selected", function(ev, commit) {
					//console.debug(commit);
					$("#commit_diff").html(""); //TODO: loading...
					$("#commit_diff").load("/commit/" + commit.id + "/diff");
				});
				$(".dialog .closebutton").click(function() {
					$(this).closest(".dialogcontainer").hide();
				});
				
				// Menu
				$("#menu_about").click(function() {
					$("#about").closest(".dialogcontainer").show();
				});
			});
		</script>

		<div class="dialogcontainer modal">
			<div id="about" class="dialog">
				<div class="titlebar">
					About...
					<div class="closebutton"></div>
				</div>
				<div class="content">
					<h1 class="vertical_centered"><img src="{{ STATIC_URL }}/imgs/logo2_48.png" /> <span>SubInfos</span></h1>
					<p>SubInfos: a software utility for SVN repositories.</p>
					<br /><br />
					<p>Developed by Paolo Cortis under GPLv2 Licence.</p>
				</div>
			</div>
		</div>
	</body>
</html>
